


body {
  font-family: monserrat;
  background-color:#f2dce9;
  text-align: center;
  background-size: 20px;
  background-image: 200px;

}

button { 
  width: : 20px;
  color: grey;
text-align: center; }


h1 {
	font-family: monserrat;
	color: white;
	padding : 50px;
	margin-top : 100px;
	margin-right : 50px;
	margin-bottom: 50px;
	margin-left: 40px;
	border-radius: 50%;
}

h2 {color : black;}


img {
  height: 200px;
  width: 100%;
  }

.logo {
  height: 90px;
  width: 80px;
  box-shadow : 5px 5px 10px black;
  border-radius:200px;
 }


p{text-align: right;}
